<%= render partial: 'navbar', locals: {user: @user} %>

<div class="circle col-md-offset-1">
  <div class="create-link">
    <%= form_for Link.new do |f| %>
    <div class="form-group username">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group email">
      <%= f.label :url %>
      <%= f.url_field :url, class: "form-control" %>
    </div>

    <%= f.submit "Create Link", class: "btn button-indigo" %>
    <% end %>
  </div>
</div>

<div class="title">Ur <a class="title2">Ls</a></div>
<div class="circle-list col-sm-offset-5">
  <button class="read1 btn btn-xs">Read</button>
  <button class="unread btn btn-xs">Unread</button>
  <button class="all btn btn-xs">View All</button>
  <button class="alphabetical btn btn-xs">Alphabetical</button>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Url</th>
        <th>Read</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
        <tr class="tr_<%= link.id %>" id="<%= check_status(link.read) %>" data-title="<%= link.title %>" data-url="<%= link.url %>">
          <td>
            <button class="read btn button-indigo btn-xs" id="btn_<%= link.id %>"data-id="<%= link.id %>"> <%= button(link) %> </button>
          </td>
          <td><%= link.title %></td>
          <td><%= truncate_link(link.url) %></td>
          <td class="read_<%= link.id %>"><%= render_status(link.read) %></td>
          <td>
            <%= button_to "Edit", edit_link_path(link), method: :get, class: "btn button-gold btn-xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
