<%= render partial: 'navbar', locals: {user: @user} %>

<div class="circle col-md-offset-4">
  <div class="create-link">
    <br>
    <%= label_tag :title, "title: ", class: "username" %>
    <br>
    <%= text_field_tag(:title, "", id: "title") %>
    <br>
    <br>
    <%= label_tag :url, "url: ", class: "email" %>
    <br>
    <%= url_field_tag(:url, "", id: "url") %>
    <br>
    <br>
    <%= submit_tag("Create Link", id: "create-link", class: "btn button-indigo") %>
  </div>

</div>
