<%= render partial: 'navbar', locals: {user: @user} %>

<div class="circle col-md-offset-1">
  <div class="create-link">
    <%= form_for Link.new do |f| %>
    <div class="form-group username">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group email">
      <%= f.label :url %>
      <%= f.url_field :url, class: "form-control" %>
    </div>

    <%= f.submit "Create Link", class: "btn button-indigo" %>
    <% end %>
  </div>
</div>

<div class="title">Ur <a class="title2">Ls</a></div>
<div class="circle-list col-sm-offset-5">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Url</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @links.all.each do |link| %>
        <tr>
          <td><%= link.title %></td>
          <td><%= link.url %></td>
          <td><%= render_status(link.read) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
