<%= render partial: 'navbar', locals: {user: @user} %>

<%= link_to "urLinks",  %>
<div class="circle col-md-offset-4">
  <div class="create-link">
    <%= form_for Link.new do |f| %>
    <div class="form-group username">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group email">
      <%= f.label :url %>
      <%= f.url_field :url, class: "form-control" %>
    </div>

    <%= f.submit "Create Link", class: "btn button-indigo", id: "create-id" %>
    <% end %>
  </div>

</div>
