<%= render partial: 'navbar', locals: {user: @user} %>

<div class="circle col-md-offset-1">
  <div class="create-link">
    <%= form_for Link.new do |f| %>
    <div class="form-group username">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group email">
      <%= f.label :url %>
      <%= f.url_field :url, class: "form-control" %>
    </div>

    <%= f.submit "Create Link", class: "btn button-indigo" %>
    <% end %>
  </div>
</div>

<div class="circle-list">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Quality</th>
      </tr>
    </thead>
    <tbody>
      <% @links.all.each do |idea| %>
        <tr id="idea_<%= idea.id %>">
          <td class="edit-title" id="edit-title-<%= idea.id %>" data-id="<%= idea.id %>"><%= idea.title %></td>
          <td class"edit-bod" id="edit-body-<%= idea.id %>" data-id="<%= idea.id %>"><%= limit_body(idea.body) %></td>
          <td class="quality"><button class="quality-down qual" data-id="<%= idea.id %>">◀︎</button><%= idea.quality %><button class="quality-up qual" data-id="<%= idea.id %>">▶︎</button></td>
          <td>
            <button class="remove" data-id="<%= idea.id %>">● <p style="display:none">remove</p></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
